body {
    background-image: url("../img/geometry.png")
}

:root {
    /* variable so subsites can override styles easily */
    --max-content-width: 1264px;
    --min-content-width: 360px;
}

#content {
    max-width: var(--max-content-width);
    min-width: var(--min-content-width);
}

.section {
    margin: 5em auto 2em auto;
    padding: 0 1.5em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

#inner {
    border-radius: 10px;
    background-color: rgba(255, 255,255,0.4);
    margin-bottom: 0;
}

.round-btn {
    border-radius:50px;
}

a {
  text-decoration: none; 
  -webkit-text-decoration-skip: none;
  background-image: none;
  outline : none;
  color: black;
}

a:hover {
  color: gray;
}

a:focus {
    text-decoration: underline;
}

.card {
    align-self: flex-start; /* prevent expanding to fill the flexbox row */
    width: 17rem;
    background-color: #fff;
}

.card > * {
    text-decoration-color: white;
    text-decoration: none;
}

.card-link {
    padding: 1px;
    text-decoration: none;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
}

.card-link:focus {
  
  padding: 0;
  text-decoration: none;
}

.card .card-footer {
    padding: 0;
}

.card-footer-btn {
  width: 100%;
  height: 100%;
  border: 1px;
  background: none;
  padding: 15px 25px;
  margin: 0;
  box-shadow: none;
}

.card-github-icon {
  margin-right: 0.25em;
}

.card-github-btn:focus {
  border: 1px;
  background: none;
}

.footer, .footer a {
    color: lightgray;
    margin-bottom: 0;
}
